<p>
  <b>Name:</b>
  <%=h @mentor.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @mentor.address %>
</p>

<p>
  <b>City:</b>
  <%=h @mentor.city %>
</p>

<p>
  <b>Zipcode:</b>
  <%=h @mentor.zipcode %>
</p>

<p>
  <b>Home phone:</b>
  <%=h @mentor.home_phone %>
</p>

<p>
  <b>Cell phone:</b>
  <%=h @mentor.cell_phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @mentor.email %>
</p>

<p>
  <b>Race:</b>
  <%=h @mentor.race %>
</p>

<p>
  <b>Age:</b>
  <%=h @mentor.age %>
</p>

<p>
  <b>Time afternoon:</b>
  <%=h @mentor.time_afternoon %>
</p>

<p>
  <b>Time evening:</b>
  <%=h @mentor.time_evening %>
</p>

<p>
  <b>Time weekends:</b>
  <%=h @mentor.time_weekends %>
</p>

<p>
  <b>Exp org 1:</b>
  <%=h @mentor.exp_org_1 %>
</p>

<p>
  <b>Exp title 1:</b>
  <%=h @mentor.exp_title_1 %>
</p>

<p>
  <b>Exp start 1:</b>
  <%=h @mentor.exp_start_1 %>
</p>

<p>
  <b>Exp stop 1:</b>
  <%=h @mentor.exp_stop_1 %>
</p>

<p>
  <b>Exp org 2:</b>
  <%=h @mentor.exp_org_2 %>
</p>

<p>
  <b>Exp title 2:</b>
  <%=h @mentor.exp_title_2 %>
</p>

<p>
  <b>Exp start 2:</b>
  <%=h @mentor.exp_start_2 %>
</p>

<p>
  <b>Exp stop 2:</b>
  <%=h @mentor.exp_stop_2 %>
</p>

<p>
  <b>Exp org 3:</b>
  <%=h @mentor.exp_org_3 %>
</p>

<p>
  <b>Exp title 3:</b>
  <%=h @mentor.exp_title_3 %>
</p>

<p>
  <b>Exp start 3:</b>
  <%=h @mentor.exp_start_3 %>
</p>

<p>
  <b>Exp stop 3:</b>
  <%=h @mentor.exp_stop_3 %>
</p>

<p>
  <b>Exp org 4:</b>
  <%=h @mentor.exp_org_4 %>
</p>

<p>
  <b>Exp title 4:</b>
  <%=h @mentor.exp_title_4 %>
</p>

<p>
  <b>Exp start 4:</b>
  <%=h @mentor.exp_start_4 %>
</p>

<p>
  <b>Exp stop 4:</b>
  <%=h @mentor.exp_stop_4 %>
</p>

<p>
  <b>Worked with middle school:</b>
  <%=h @mentor.worked_with_middle_school %>
</p>

<p>
  <b>Two activities:</b>
  <%=h @mentor.two_activities %>
</p>

<p>
  <b>Helpful support:</b>
  <%=h @mentor.helpful_support %>
</p>

<p>
  <b>Seattle location:</b>
  <%=h @mentor.seattle_location %>
</p>

<p>
  <b>Brothers sisters:</b>
  <%=h @mentor.brothers_sisters %>
</p>

<p>
  <b>Have children:</b>
  <%=h @mentor.have_children %>
</p>

<p>
  <b>Have pets:</b>
  <%=h @mentor.have_pets %>
</p>

<p>
  <b>Fav subject:</b>
  <%=h @mentor.fav_subject %>
</p>

<p>
  <b>Hobbies:</b>
  <%=h @mentor.hobbies %>
</p>

<p>
  <b>Work exp mentee:</b>
  <%=h @mentor.work_exp_mentee %>
</p>

<p>
  <b>New activities mentee:</b>
  <%=h @mentor.new_activities_mentee %>
</p>

<p>
  <b>Describe yourself:</b>
  <%=h @mentor.describe_yourself %>
</p>

<p>
  <b>Why be a mentor:</b>
  <%=h @mentor.why_be_a_mentor %>
</p>

<p>
  <b>What skills bring you:</b>
  <%=h @mentor.what_skills_bring_you %>
</p>


<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>